::selection {
    background-color: #baaa70;
    color: #ffffff;
}
/* Navigation */
.fontstyle {
    background-color: #f5f5f5f5;
    color: #0c1c1f;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
/* Navigation End */


/* About heading */
.About-heading{
    padding: 100px 0px 100px 0px;
    background-image: url('img/EAK_0046-01.jpeg');
}
.headingtext{
    color: white;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
/*  About heading End*/


/* About Information section 1 End*/
.bg-img{ 
    padding: 20px;
    background-image: url('img/bgimg.png');
    
}
.textstyle{
    font-size: 20px;
    color: 0c1c1f;
    font-family: 'Playfair Display', serif;
}
.textstyle2{
    font-family: 'Playfair Display', serif;
}
/* About Information section 1 End*/


/* About Information section 2*/
.infomation{
    font-family: 'Playfair Display', serif;
    color: #0c1c1f;
    padding: 25px 12px 15px 12px;
}
.info-bg-c{
    padding: 30px 10px 30px 10px;
    background-color: white;
    box-shadow: 2px 2px 30px #414242;
}
.infomation h5{
    color: #0c1c1f;
}
.infomation p{
    font-size: 14px;
    color: #838e91;
}
.infomationbottom{
    font-family: 'Playfair Display', serif;
    color: #0c1c1f;
    font-size: 20px;
    padding: 20px 12px 15px 0px;
}
/* About Information section 2 End*/


/* Contact Information & Check Packages */
.box1{
    padding: 80px 10px 80px 10px;
    background-color: #73818a;
    font-family: 'Playfair Display', serif;
}
.box1 a{
    text-decoration: none;
    color: white;
}
.box1:hover{
    background-color: #8a9399;
}
.box1 a:hover{
    color: white;
}
.box2 a:hover{
    color: white;
}
.box2:hover{
    background-color: #6eb3b6;
}
.box2 a{
    text-decoration: none;
    color: white;
}
.box2{
    padding: 80px 10px 80px 10px;
    background-color: #88c6cd;
    font-family: 'Playfair Display', serif;
}
/* Contact Information & Check Packages End*/


/* Footer */
.footer{
    margin: 0px 0px 0px -15px;
}
/* Footer End */