::selection {
    background-color: #baaa70;
    color: #ffffff;
}
/* Navigation */
.fontstyle {
    background-color: #f5f5f5f5;
    color: #0c1c1f;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
/* Navigation End */


/* Chamba Heading */
.services-heading{
    padding: 80px 0px 80px 0px;
    background-color: #007e78;
}
.headingtext{
    color: white;
    font-size: 60px;
    font-family: 'Playfair Display', serif;
}
/* Chamba Heading End*/


/* Chamba Img End*/
.title-text{
    font-size: 20px;
    color: #0c1c1f;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.text-color{
    color: #baaa70;
}
.text-color span{
    color: #0c1c1f;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}
.btn-color{
    text-decoration: none;
    padding: 10px 10px 13px 10px;
    background-color: #f1f1f1;
    box-shadow: 1px 1px 5px black;
}
/* Chamba Img End*/


/* Footer */
.footer{
    margin: 0px 0px 0px -15px;
}
/* Footer End */