::selection {
    background-color: #baaa70;
    color: #ffffff;
}
/* Navigation */
.fontstyle {
    background-color: #f5f5f5f5;
    color: #0c1c1f;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}
/* Navigation End */


/* Slider */
.first-heading{
    font-size: 25px;
    color: #ffffff;
    font-family: 'Great Vibes', cursive;
}
.second-heading{
    font-size: 35px;
    color: #ffffff;
    font-family: 'Arvo', serif;
}
/* Slider End */


/* Card */
.card-t p{
    font-size: 19px;
    font-family: 'Playfair Display', serif;
}
/* Card End */


/* Information */
.infomation{
    font-family: 'Playfair Display', serif;
    color: #0c1c1f;
    padding: 25px 12px 15px 12px;
}
.info-bg-c{
    background-color: white;
    box-shadow: 2px 2px 30px #414242;
}
.infomation h5{
    color: #0c1c1f;
}
.infomation p{
    font-size: 14px;
    color: #838e91;
}
/* Information End */


/* Localization and attractions Img */
.l-a-heading{
    color: #baaa70;
    font-weight: 900;
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}
/* Localization and attractions Img End */


/* Services and standards info */
.s-s-info{
    font-family: 'Playfair Display', serif;
    color: white;
    background-color: #007e78;
    box-shadow: 0.5px 0.5px 15px #414242;
}
.s-s-info p{
    margin-top: 10px;
    font-size: 19px;
    color: white;
    
}
/* Services and standards info End */


/* Services and standards info 2 */
.s-s-info2 img{
    padding: 10px;
    background-color: #007e78;
}
.s-s-info2 h3{
    display:inline-block;
    color: #0c1c1f;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
}
.s-s-info2 p{
    display:inline-block;
    margin-top: 10px;
    color: #838e91;
    font-family: 'Playfair Display', serif;
}
/* Services and standards info 2 End */


/* Booking Inquiry Form */
.form-headline{
    font-family: 'Playfair Display', serif;
    color: #0c1c1f;
    font-size: 50px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: 1px 1px 10px #baaa70;
}
form{
    color: #838e91;
    font-family: 'Playfair Display', serif;
}
.btn-color{
    padding: 10px 15px 10px 15px;
    border: solid 1px transparent;
    background-color: #baaa70;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: 'Playfair Display', serif;
}
.btn-shadow{
    box-shadow: 1px 1px 5px black;
}
.btn-color:hover{
    color: white;
}
.text-btm{
    color: #838e91;
    font-family: 'Playfair Display', serif;
}
/* Booking Inquiry Form End */


/* Customer Feedback */
.feedback-text{
    padding-top: 100px;
    font-size: 17px;
    line-height: 42px;
    color: #444444;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}
.feedback-box{
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 2px 2px 30px #414242;
}
@media  screen and (max-width:1024px) {
    .feedback-text{
        padding-top:40px;
    }
}
@media  screen and (max-width:768px) {
    .feedback-text{
        padding-top:0px;
    }
}

/* Customer Feedback End */


/* Featured Packages */
.featured-packages-text{
    font-size: 45px;
    color: #0c1c1f;
    font-weight: 900;
    font-style: inherit;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 10px #baaa70;
}
.visiting-date{
    margin-bottom: -5px;
    font-size: 22px;
    color: #838e91;
    font-family: 'Playfair Display', serif;
}
/* Featured Packages */


/* Follow */
.follow-headling{
    font-size: 40px;
    font-weight: 900;
    color: #baaa70;
    font-family: 'Playfair Display', serif;
}
.follow-text{
    color: #838e91;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}
/* Follow End */


/* Footer */
.footer{
    margin: 0px -12px 0px -15px;
}
/* Footer End */