*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Tahoma;
}
h1 {
    text-align: center;
    margin-top: 15px;
}
#container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: tomato;
    border-radius: 10px;
    padding: 20px;
}
.input-div{
    display: inline-block;
}
.inpt{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
label{
    font-size: 20px;
}